@charset 'utf-8';

a {
	color: #4d2d29;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	opacity: 0.8;
	transition: 0.4s;
}
img {
	width: 100%;
	vertical-align: middle;
}
ul:after, header:after, section:after, .clearfix:after,
.clipList li:after, .clipList video:after {
	content: '';
	display: block;
	clear: both;
}
.pc { display: inherit; }
.sp { display: none; }
.fR { float: right; }
.fL { float: left; }

@media only screen and (max-width: 768px) {
	body {
		font-size: 12px;
	}
	img {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
	}
	.pc { display: none; }
	.sp { display: block; }
	.fR { float: none; }
	.fL { float: none; }
}


.ttl01 {
	line-height: 1.5;
	font-size: 16px;
	font-weight: normal;
}
.ttl01 span {
	display: block;
	font-size: 12px;
}
#wrapper .ttl01 {
	margin-bottom: 18px;
}


.clip-search {
	width: 100%;
	padding: 20px 0;
	background-color: #eee;
	overflow: hidden;
}
.clip-search .contentIn {
	width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
}
.clip-search .ttl01 {
	width: 128px;
	margin-right: 52px;
	float: left;
}
.clip-search form {
	width: 740px;
	margin-top: 5px;
	letter-spacing: -.4em;
	float: left;
}
.clip-search select {
	width: 160px;
	margin-right: 40px;
	padding: 5px 8px;
	font-size: 14px;
	appearance: button;
	-webkit-appearance: button;
	-moz-appearance: button;
	border-radius: 3px;
	background: #fff url(../img/arrow01.png) no-repeat;
	background-position: right 8px center;

}
.clip-search input[type="text"] {
	width: 220px;
	padding: 7px 8px;
	margin-right: 40px;
	font-size: 14px;
	border: 0;
	border: solid 1px #aaa;
	box-sizing: border-box;
	border-radius: 3px;
}
.clip-search input[type="submit"] {
	width: 80px;
	padding: 6px 0 6px 20px;
	color: #fff;
	text-align: center;
	font-size: 14px;
	border: none;
	border-radius: 3px;
	background: #f78275 url(../img/search.png) no-repeat center left 15px;
}

.clipList {
	overflow: hidden;
}
.clipList li {
	width: 280px;
	margin-bottom: 40px;
	float: left;
}
.clipList li + li {
	margin-left: 40px;
}
.clipList li:nth-child(3n+1) {
	margin-left: 0;
	clear: left;
}
.clipList .thumb {
	position: relative;
}
.clipList .status {
	position: absolute;
	right: 0;
	bottom: 0;
}
.clipList .status .favo,
.clipList .status .time {
	display: inline-block;
	padding: 0 3px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	background: rgba(0,0,0,0.5);
}














