@charset 'utf-8';

header {
	background: none;
	border-bottom: none;
	background-size: cover;
	text-align: center;
	position: relative;
	overflow: hidden;
}
#header-nav li a {
	color: #fff;
}
#mainVisual {
	margin-top: -66px;
	position: relative;
	background-color: rgba(0,0,0,0.6);
}
#mainVisual img {
	width: auto;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
#mainVisual video {
	width: 100%;
	position: relative;
	z-index: -1;
}
.clip-search {
	margin-top: -8px;
	position: relative;
}

@media only screen and (max-width: 768px) {
	#wrapper .contentIn {
		padding: 20px 2%;
	}
	.clip-search {
		position: absolute;
	}
	#mainVisual {
		display: none;
	}
}