@charset 'utf-8';

#wrapper .contentIn {
	padding: 0;
}
video {
	width: 100%;
	margin-bottom: 40px;
}
article {
	width: 660px;
	margin-right: 20px;
	padding: 0 20px;
	float: left;
}

article section {
	padding: 16px 0;
	border-bottom: solid 1px #aaa;
}
article section .ttl03 {
	margin-bottom: 8px;
}
.ttl03 span {
	margin-left: 16px;
	font-size: 14px;
}

.clipInfo {
	padding: 0;
}
.ttl02 span {
	font-size: 12px;
	font-weight: normal;
}
.ttl02 .count:before {
	content: '...';
}
.user {
	margin-bottom: 16px;
	letter-spacing: -.4em;
}

.userIcon {
	display: inline-block;
	width: 40px;
	vertical-align: middle;
	border-radius: 40px;
	border: solid 1px #aaa;
	overflow: hidden;
}
.userName {
	display: inline-block;
	margin-left: 16px;
	font-size: 16px;
	letter-spacing: normal;
}

.favoArea {
	margin: 4px 0 0;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.favoArea a {
	display: block;
	width: 45px;
	height: 32px;
	padding-left: 40px;
	text-align: left;
	line-height: 32px;
	background: url(../img/favo_off.png) no-repeat;
}
.favoArea a.on {
	background: url(../img/favo_on.png) no-repeat;

}
.tagList {
	margin-bottom: 8px;
	clear: both;
}
.tagList li {
	margin: 0 8px 8px 0;
}

.ingredient table {
	margin-bottom: 
}
.ingredient tr:nth-of-type(odd) {
	background-color: #eee;
}
.ingredient th,
.ingredient td {
	padding: 8px;
	word-break: break-word;
	vertical-align: middle;
}
.ingredient th {
	width: 460px;
	font-weight: normal;
	text-align: left;
}
.ingredient td {
	width: 160px;
	text-align: right;
}

　


aside {
	width: 280px;
	padding-right: 20px;
	float: right;
}





