{% if flash.messageError %}
    <div class="alert alert-danger alert-dismissable" style="margin-top: 25px">
        {{ flash.messageError }}
    </div>
{% endif %}

{% if flash.messageSuccess %}
    <div class="alert alert-success alert-dismissable" style="margin-top: 25px">
        {{ flash.messageSuccess }}
    </div>
{% endif %}