<header>
    <h1><a href="index.php"><img src="/candy/public/assets/img/logo2.png" alt="Candy Clip"></a></h1>
    <div class="headerBox">
        <div class="login">
            <a href="login.php"><img src="/candy/public/assets/img/login.png" alt="login">ログイン</a>
        </div>
        <div class="menu">
            <a href=""><img src="/candy/public/assets/img/menu.png" alt="">メニュー</a>
        </div>
    </div>
    <div>
        <nav class="gnavi">
            <ul>
                <li>
                    <a class="toggle">お菓子の種類で探す</a>
                    <ul>
                        <li><a href="#">ケーキ</a></li>
                        <li><a href="#">クッキー</a></li>
                        <li><a href="#">プリン・ゼリー</a></li>
                        <li><a href="#">パン</a></li>
                        <li><a href="#">和菓子</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#">テスト1-4</a></li>
                    </ul>
                </li>
                <li>
                    <a class="toggle">材料で探す</a>
                    <ul>
                        <li><a href="#">テスト2-1</a></li>
                        <li><a href="#">テスト2-2</a></li>
                        <li><a href="#">テスト2-3</a></li>
                        <li><a href="#">テスト2-4</a></li>
                    </ul>
                </li>
                <li>
                    <a class="toggle">カテゴリから探す</a>
                    <ul>
                        <li><a href="#">テスト3-1</a></li>
                        <li><a href="#">テスト3-2</a></li>
                        <li><a href="#">テスト3-3</a></li>
                        <li><a href="#">テスト3-4</a></li>
                    </ul>
                </li>
                <li>
                    <a class="toggle">シーンで探す</a>
                    <ul>
                        <li><a href="#">テスト4-1</a></li>
                        <li><a href="#">テスト4-2</a></li>
                        <li><a href="#">テスト4-3</a></li>
                        <li><a href="#">テスト4-4</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>